/* DESKTOP FORMAT */

body {
    background-color: lightblue;
}

header {
    background: black;
    margin: 5px;
    height: 46px;
    display: flex;
}

p.h1 {
    text-align: left;
    color: lightblue;
    text-decoration: underline;
    margin: 5px 8px 15px;
    display: inline;
    font-size: 30px;
}

ul {
    list-style-type: none; 
    width: 100%; 
    display: inline-flex; 
    justify-content: flex-end;
    align-items: center; 
    margin: 0; 
    padding: 0;
    text-align: right;
    position: relative;
}

li {
    color: lightblue;
    text-align: right;
    display: inline-flex;
    margin: 0px 5px;
}

li button {
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    color: lightblue;
    text-decoration: underline;
}
li button:hover {
    text-decoration: none;
}

[data-tab-content]{display: none}
.active[data-tab-content]{display: block}

div#searchBox {padding-left: 5px;}
div#aboutBox {padding: 0 5px; margin-top: -8px;}
div#contactBox {padding-left: 5px; margin-top: -8px;}

label {
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: underline;
}

input#search {
    width: 150px;
}

input#limitNum {
    width: 20px;
    text-align: center;
}

div#out {
    height: auto;
    width: auto;
    column-count: 3;
    padding: 20px 5px 7px;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* PHONE FORMAT */
@media screen and (max-width: 360px) {}