/* DESKTOP FORMAT */

body {
    background-color: lightblue;
}

label {
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: underline;
}

div#out {
    height: auto;
    width: auto;
    column-count: 4;
}